<div class="intro">
    <img src="assets/dileep.jpg" alt="My Photo">
    <div class="bio"> 
        <p>
            As an undergraduate from computer science, I realized how amazing computation power we have and we can make miracles with that. So, I just want to create a few with my hands. I am passionate and interested in solving problems and building applications that help the billions of people to make their life easier and comfortable. I am so much thankful to all the computer scientists and mathematicians for creating a scope and concepts to learn and do wonders.<br>
            Thank you<br>
            Dileep (An aspirant to  be recognized in the tech world) <br>
            Mail: dileepchidurala@gmail.com <br>
            Mobile: 9502813838
        </p> 
    </div>
</div>